<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gearhost" type="GearHost.Core.Configuration.GearHostSection, GearHost.Core"/>
  </configSections>
  
  <gearhost
      baseUrl="https://api.gearhost.com/"
      primaryApiKey="dff0af8d4cae4f3baeb0bdb96bfe5e67"
    />
</configuration>