<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gearhost" type="GearHost.Core.Configuration.GearHostSection, GearHost.Core"/>
  </configSections>
  
  <gearhost
      baseUrl="http://api.gearhost.com/api/"
      primaryApiKey="primaryApiKey"
    />
</configuration>